

.container2 {
    position: relative;
    text-align: center;
    color: white;
    opacity:1;
}

/* Centered text */
.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px 10px
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.row-header {
    
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 65px;

}


.row-header2 {

    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 35px;

}

.row-header3{

    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 325px;
}

.button1{

    padding-left: 50px;
}

.button2{

    padding-left: 50px;
}


.buttonh {
    background-color: rgba(0, 0, 0, 0.65); 
    color: rgb(255, 255, 255); 
    padding: 20px 35px;
    border: 2px solid  rgb(148, 175, 216);
}

.buttonh:hover {
    background-color: rgb(148, 175, 216);
    color: rgb(0, 0, 0);
}

.buttonhe {
    background-color: rgba(0, 0, 0, 0.65); 
    color: rgb(255, 255, 255); 
    padding: 20px 35px;
    border: 2px solid  rgb(204, 255, 238);
}

.buttonhe:hover {
    background-color: rgb(204, 255, 238);
    color: rgb(0, 0, 0);
}

.thumbnail {
    border: 0px;
}


